body {
  background-image: url("https://wallpapermemory.com/uploads/216/marvel-background-hd-1024x768-322291.jpg");
  background-size: contain;
  background-repeat: repeat;
}

#heading {
  display: flex;
  justify-content: center;
  color: red;
  margin-bottom: 6em;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  /*top: -0.5em;*/
}

#search-bar-wrapper {
  position: relative;
  top: -11em;
}

form {
  display: flex;
  justify-content: center;
}

#search-bar {
  width: 20em;
  margin-right: 1em;
  padding: 0.5em;
  border-radius: 8px;
}

#content {
  visibility: hidden;
  background-image: url(https://t4.ftcdn.net/jpg/02/14/99/13/240_F_214991321_zgJzzJC1U51CJ4rA2E1JAl6cHqxowbam.jpg);
  background-repeat: repeat;
  background-size: contain;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  margin: 1em;
  padding: 1em;
  width: 90%;
  box-sizing: border-box;
}

.charDescription {
  width: 90%;
  padding-left: 1em;
  padding-right: 1em;
}

#submit-btn {
  border-radius: 8px;
  background-color: blue;
}

img {
  width: 100%;
  height: 420px;
}

.characterCard {
  background-color: white;
  margin: 1em;
  width: 90%;
  box-sizing: border-box;
}

.charHeading {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.glow-div,
.snap {
  width: 80px;
  height: 80px;
}

.glow-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 8em;
}

.dust {
  position: absolute;
}

#snap-btn {
  border-radius: 8px;
  background-color: red;
}

/*Media Queries*/
@media screen and (min-width: 768px) {
  #search-bar-wrapper {
    position: relative;
    top: 5em;
    padding-bottom: 9em;
  }

  #glow-div {
    position: relative;
    top: -3em;
    left: -0.5em;
  }

  #content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
  }

  #body {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .characterCard {
    width: 45%;
  }

  .characterCard img {
    width: 100%;
  }

  .charDescription,
  .charHeading {
    padding-left: 1em;
    padding-right: 1em;
  }

  .charHeading {
    padding-top: 1em;
  }
}

@media screen and (min-width: 998px) {
  .characterCard {
    width: 22%;
  }
  #content {
    visibility: hidden;
    margin-bottom: 4em;
    display: flex;
    width: 90%;
  }
}
